/* ResetPassword.css */


.ResetPass{
    background-color: #5d79fb;
}
/* Container styles */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Content styles */
  .reset-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Avatar styles */
  .reset-password-avatar {
    margin: 8px;
    background-color: #5d79fb; /* Match the primary color */
  }
  
  /* Form styles */
  .reset-password-form {
    width: 100%;
    margin-top: 8px;
  }
  
  /* Submit button styles */
  .reset-password-submit {
    margin: 24px 0 16px;
  }
  