.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .create-module-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #5d79fb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-module-btn:hover {
    background-color: #475bc4;
  }
  
  .overlay {
    position: fixed;

    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }
  
  .module-form {
    position: absolute;
    top: 10vh; 
    /* left: 50%; Align the form to the center horizontally */
    /* transform: translate(0, -50%); Center the form both vertically and horizontally */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 80%; /* Adjust the width of the form as needed */
    max-width: 600px; /* Set a maximum width for the form */
    z-index: 9999; /* Ensure the form appears above other elements */
  }
  
  
  .form-group {
    margin-bottom: 15px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="url"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn,
  .cancel-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn {
    background-color: #5d79fb;
    color: white;
  }
  
  .cancel-btn {
    background-color: #ccc;
    color: black;
  }
  
  .submit-btn:hover,
  .cancel-btn:hover {
    background-color: #475bc4;
  }
  
  .module-table {
    margin-top: 20px;
    text-align: left;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #000000;
  }
  
  th {
    background-color: #5d79fb;
    color: white;
  }
  
  tr:hover {
    background-color: #f8f6e3;
  }
  
  .submit-btn, .cancel-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn {
    background-color: #5d79fb;
    color: white;
  }
  
  .cancel-btn {
    background-color: #ccc;
  }
  
  .submit-btn:hover, .cancel-btn:hover {
    background-color: #475bc4;
  }
  
    
  .add-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .add-btn {
    background-color: #ffa135;
    color: rgb(0, 0, 0);
  }

      
  .remove-btn {
    width: 10%;
    padding: 10px 0;
    margin-top: 1px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .remove-btn
  {
    background-color: #ff3535;
    color: white;
  }

  /* CSS for the textarea */
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
}
