.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.module-form {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="url"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}



.full-width {
  grid-column: span 2;
}

.resource-link {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.add-btn,
.remove-btn {
  width: fit-content;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5d79fb;
  color: white;
}
  
  .submit-btn,
  .cancel-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn {
    background-color: #5d79fb;
    color: white;
  }
  
  .cancel-btn {
    background-color: #ccc;
    color: black;
  }
  
  .submit-btn:hover,
  .cancel-btn:hover {
    background-color: #475bc4;
  }
  
  .module-table {
    margin-top: 20px;
    text-align: left;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #000000;
  }
  
  th {
    background-color: #5d79fb;
    color: white;
  }
  
  tr:hover {
    background-color: #f8f6e3;
  }
  
  .submit-btn, .cancel-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn {
    background-color: #5d79fb;
    color: white;
  }
  
  .cancel-btn {
    background-color: #ccc;
  }
  
  .submit-btn:hover, .cancel-btn:hover {
    background-color: #475bc4;
  }
  .create-module-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #5d79fb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
    
  .add-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .add-btn {
    background-color: #ffa135;
    color: rgb(0, 0, 0);
  }

      

  .remove-btn
  {
    background-color: #ff3535;
    color: white;
  }

  /* CSS for the textarea */
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
}
